# Ignore Python cache
__pycache__
*.py[co]

# Ignore environment and sensitive files
.env
.python-version

# Ignore local virtualenvs
.venv
teaching-2026

# Ignore git metadata
.git

# Ignore editor files
.vscode
.idea
*.swp
.DS_Store

# Ignore Docker-compose files if not needed in build context
docker-compose.yml
